<div id="<%= dom_id trip %>">
  <p>
    <strong>Schedule:</strong>
    <%= trip.schedule %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= trip.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= trip.destination %>
  </p>

  <p>
    <strong>Number of passengers:</strong>
    <%= trip.number_of_passengers %>
  </p>

  <p>
    <strong>Unit fare:</strong>
    <%= trip.unit_fare %>
  </p>

  <p>
    <strong>Total fare:</strong>
    <%= trip.total_fare %>
  </p>

  <p>
    <strong>Bus:</strong>
    <%= trip.bus_id %>
  </p>

</div>
