<p style="color: green"><%= notice %></p>

<%= render @trip %>

<h3>List of Passengers</h3>

<table>
  <thead>
    <td><strong>Name</strong></td>
    <td><strong>Contact Number</strong></td>
  </thead>

  <tbody>
    <% @trip.reservations.each do |reservation|%>
    <tr>
      <td><%=reservation.passenger.name%></td>
      <td><%=reservation.passenger.contact_number%></td>
    </tr>
    <% end %> 

    <td><strong>Driver Information</strong></td>

    <% @trip.bus.drivers.each do |driver|%>
      <tr>
      <td><%=driver.name%></td> 
      <td><%=driver.contact_number%></td> 
      </tr>

  </tbody>
<% end %>

  </table>

<div>
  <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
  <%= link_to "Back to trips", trips_path %>

  <%= button_to "Destroy this trip", @trip, method: :delete %>
</div>