<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>


<table>
  <thead>
    <tr>
      <th>Passenger Name</th>
      <th>Trip Origin</th>
      <th>Trip Destination</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.passenger.name, reservation %></td>
        <td><%= reservation.trip.origin %></td>
        <td><%= reservation.trip.destination %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to "New reservation", new_reservation_path %>