<p style="color: green"><%= notice %></p>

<div class="reservation_container">

<div class="reservation_header">
  <%= image_tag("RESERVATIONS HEADER.png") %>
</div>



<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Graduate&family=Jacquard+12&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sedan+SC&display=swap" rel="stylesheet">


  <style>


    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }


    table thead th {
      color: white;
      text-align: center;
      padding: 20px;
      font-family: "Bebas Neue", sans-serif;
      font-size: 30px;
      border-bottom: 1px solid #dddddd;
    }

    table thead tr {
      background: linear-gradient(to right, #5B1349, #FF6AD9, #131D5B);
      padding-top: 100px;
    }

    tbody td {
      border-bottom: 3px solid #3899F4;
      padding: 10px;
      font-family: "Bebas Neue", sans-serif;
      font-size: 40px;
      text-align: center;
    }


    table tbody tr:nth-of-type(odd){
      background-color: white;
      color: black;
    }

    table tbody tr:nth-of-type(even){
      background-color: #D2A1C6;
      color: white;
    }

    .button {
      background-color: #3899F4;
      font-family: "Bebas Neue", sans-serif;
      border: none;
      color: white;
      padding: 20px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
      margin: 4px 2px;
      transition-duration: 0.1s;
      cursor: pointer;
      border-radius: 12px;
      left: 45% ;
      position: relative;
    }

    .pic {
      max-width: 50% ;
      max-height: 75% ;
    }

    .button:hover {
      transform: scale(1.03); 
      background-color: black;
      color: white;
    }
  
  </style>
</head>


<table>
  <thead>
    <tr>
      <th>Passenger Name</th>
      <th>Trip Origin</th>
      <th>Trip Destination</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.passenger.name, reservation %></td>
        <td><%= reservation.trip.origin %></td>
        <td><%= reservation.trip.destination %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to "New reservation", new_reservation_path , class: "button"%>

