<p style="color: green"><%= notice %></p>

<h1>Passengers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact Number</th>
      <th>Email Address</th>
    </tr>
  </thead>
  <tbody>
    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= link_to passenger.name, passenger %></td>
        <td><%= passenger.contact_number %></td>
        <td><%= passenger.email_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New passenger", new_passenger_path %>