<p style="color: green"><%= notice %></p>

<%= render @passenger %>

<h3>List of Trips</h3>

<table>
  <thead>
    <td><strong>Bus</strong></td>
    <td><strong>Driver/s</strong></td>
  </thead>

  <tbody>
    <% @passenger.reservations.each do |reservation|%>
    <tr>
      <td><%=reservation.trip.bus.plate_number%></td>

      <%reservation.trip.bus.drivers.each do |driver|%>
          <td><%=driver.name%> | </td> 

        <% end %>
    </tr>


  </tbody>

  <% end %>

  </table>




<div>
  <%= link_to "Edit this passenger", edit_passenger_path(@passenger) %> |
  <%= link_to "Back to passengers", passengers_path %>

  <%= button_to "Destroy this passenger", @passenger, method: :delete %>
</div>
