<div id="<%= dom_id driver %>">
  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= driver.contact_number %>
  </p>

  <p>
    <strong>Bus:</strong>
    <%= driver.bus_id %>
  </p>

  <% if driver.image.attached? %>
    <p>
      <strong>Image:</strong>
      <%= image_tag driver.image %>
    </p>
  <% end %>

</div>
